@import "tailwindcss";

:root {
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 1, 3, 11;
  --foreground-rgb: 255, 255, 255;

  --primary-glow: #0ea5e9;
  --secondary-glow: #ec4899;

  --tile-start-rgb: 2, 13, 31;
  --tile-end-rgb: 2, 5, 19;
  --tile-border: 14, 27, 44;

  --primary: #0ea5e9;
  --secondary: #ec4899;
  --foreground: #ffffff;
  --background: #020617;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}